<div class="container-fluid form-bg">

    <div class="row" id="dist-form">
        <div class="col-md-offset-4 col-md-4">
            <div class="well">
                <h2 class="montserrat">Sign up as Distributor</h2>
                <%= form_for @distributor do |d|%>
                    <div class="form-group">
                        <%= d.label :email %>
                        <%= d.email_field :email, class:"form-control" %>
                    </div>
                    
                    <div class="form-group">
                        <%= d.label :password %>
                        <%= d.password_field :password, class:"form-control" %>
                    </div>
                    
                    <div class="form-group">
                        <%= d.submit "Create my Account", class:"btn btn-success"%>
                    </div>
                <% end %>
            </div>
        </div>
    </div>    
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var height = $(window).height();
        var minus = $("#dist-form").height();
        var pos = height - minus;
        var h = (height - pos) / 3;
        
        $("#dist-form").css("margin-top", h);
        $(".form-bg").css({"height": height});
    });
</script>